

		<!-- Highlights -->
		<section class="wrapper menor">	
				<div class="inner">
					<header class="special">
							{if="$status=='sucesso'"}
						
							<h2>E-MAIL VALIDADO COM SUCESSO!</h2>
							<p>Agora voc&ecirc; pode fazer <a href="/login/">login</a> com seu e-mail e senha.</p>		
							
							{else}
							
							<h2>ERRO AO VALIDAR SEU E-MAIL!</h2>
							<p>Talvez tenha expirado o prazo de um dia para valida&ccdil;&atilde;o de email. Tente <a href="/cadastro">efetuar o cadastro</a>novamente.</p>
							
							{/if}
						
					</header>			
			</div>
		</section>

		

